In [1]:
import pickle
import pandas as pd

# Load data
## Load detailed data

In [2]:
X = pickle.load(open('X.pkl', 'rb'))
y = pickle.load(open('y.pkl', 'rb'))

In [3]:
X.head()

,1:1000001-2000000_ratio,1:3000001-4000000_ratio,1:4000001-5000000_ratio,1:5000001-6000000_ratio,1:6000001-7000000_ratio,1:7000001-8000000_ratio,1:8000001-9000000_ratio,1:9000001-10000000_ratio,1:10000001-11000000_ratio,1:11000001-12000000_ratio,...,22:46000001-47000000_ratio,22:47000001-48000000_ratio,22:48000001-49000000_ratio,22:49000001-50000000_ratio,22:50000001-51000000_ratio,18:45000001-46000000_ratio,2:225000001-226000000_ratio,8:76000001-77000000_ratio,patient_id,train_test
0,-0.041425,-0.062404,-0.003995,-0.067551,-0.057628,-0.053104,-0.062307,-0.031371,-0.025168,-0.018076,...,0.042645,0.077557,0.033111,-0.077562,-0.015159,0.000000,0.000000,0.000000,OS2006_273,test
1,0.096445,0.167901,0.165071,0.143986,0.114711,0.113785,0.068796,0.129963,0.095869,0.135168,...,-0.059856,-0.052685,0.001125,-0.050018,-0.023070,0.011139,0.000000,0.000000,OS2006_37,train
2,0.059786,0.117976,0.133299,0.190704,0.105671,0.113527,0.029876,0.079141,0.059944,0.094458,...,-0.056281,-0.014406,-0.010367,-0.025716,-0.070117,0.130662,0.000000,0.000000,OS2006_320,train
3,-0.114674,-0.100271,-0.092227,-0.039484,-0.027193,-0.089304,-0.030149,-0.043021,-0.056526,-0.046655,...,-0.018079,0.008208,-0.027896,-0.023271,0.007759,0.060658,-0.154327,0.000000,OS2006_504,train
4,-0.080659,-0.087107,0.091030,0.071785,0.006113,0.018225,0.045128,-0.029757,-0.037894,0.031310,...,0.000874,-0.023101,-0.019642,-0.016183,-0.022795,-0.029819,0.000000,-0.032918,OS2006_454,test

In [4]:
features_name = ['21:28000001-29000000_ratio',
 '9:20000001-21000000_ratio',
 '6:61000001-62000000_ratio',
 '16:77000001-78000000_ratio',
 '5:31000001-32000000_ratio',
 '5:37000001-38000000_ratio',
 '22:19000001-20000000_ratio',
 '5:28000001-29000000_ratio',
 '5:26000001-27000000_ratio',
 '2:232000001-233000000_ratio',
 '9:71000001-72000000_ratio',
 '14:104000001-105000000_ratio',
 '21:33000001-34000000_ratio',
 '21:32000001-33000000_ratio',
 '13:68000001-69000000_ratio',
 '21:31000001-32000000_ratio',
 '5:11000001-12000000_ratio',
 '2:149000001-150000000_ratio',
 '22:21000001-22000000_ratio',
 '20:55000001-56000000_ratio',
 '5:32000001-33000000_ratio',
 '8:1-1000000_ratio',
 '3:171000001-172000000_ratio',
 '21:34000001-35000000_ratio',
 '21:24000001-25000000_ratio',
 '5:30000001-31000000_ratio',
 '14:85000001-86000000_ratio',
 '21:27000001-28000000_ratio',
 '17:65000001-66000000_ratio',
 '5:50000001-51000000_ratio',
 '5:52000001-53000000_ratio',
 '3:116000001-117000000_ratio',
 '3:175000001-176000000_ratio',
 '5:33000001-34000000_ratio',
 '13:112000001-113000000_ratio',
 '12:8000001-9000000_ratio',
 '20:32000001-33000000_ratio',
 '12:23000001-24000000_ratio',
 '15:29000001-30000000_ratio',
 '8:3000001-4000000_ratio',
 '6:82000001-83000000_ratio',
 '3:177000001-178000000_ratio',
 '17:36000001-37000000_ratio',
 '3:196000001-197000000_ratio',
 '14:99000001-100000000_ratio',
 '3:186000001-187000000_ratio',
 '5:36000001-37000000_ratio',
 '14:60000001-61000000_ratio',
 '16:70000001-71000000_ratio',
 '9:21000001-22000000_ratio',
 '3:194000001-195000000_ratio',
 '17:66000001-67000000_ratio',
 '4:53000001-54000000_ratio',
 '7:76000001-77000000_ratio',
 '11:116000001-117000000_ratio',
 '6:81000001-82000000_ratio',
 '9:68000001-69000000_ratio',
 '6:80000001-81000000_ratio',
 '12:34000001-35000000_ratio',
 '9:3000001-4000000_ratio',
 '16:80000001-81000000_ratio',
 '8:94000001-95000000_ratio',
 '5:14000001-15000000_ratio',
 '2:129000001-130000000_ratio',
 '13:89000001-90000000_ratio',
 '3:64000001-65000000_ratio',
 '3:30000001-31000000_ratio']

new_columns = ['patient_id', 'train_test'] + features_name
X = X[new_columns]

In [5]:
y.head()

   relapse  patient_id train_test
0        1  OS2006_273       test
1        1   OS2006_37      train
2        1  OS2006_320      train
3        1  OS2006_504      train
4        1  OS2006_454       test

## Load metadata

In [6]:
metadata = pd.read_csv('../data/metadata_DMLHT_ctDNA.csv', sep='\t', header=1)
metadata['sex'] = metadata.apply(axis=1, func=lambda x: 1 if x['sex'] == 'Masculin' else 0)
columns_to_use = ['Code', 'sex', 'age', 'pub', 'htum', 'meta_bis', 'cpa_diagnostic']
# feature pub fait chuter le résultat sur le test

In [7]:
metadata[metadata['Code'] == 'OS2006_12']

,sex,age,pub,htum,meta_bis,chimgr,rep_histo,relapse,etat2,time_OS,time_PFS,cpa_finTT,cpa_diagnostic,cpa_chirurgie,EFS,Code
21,0,11.69,1.0,12.4,1,MTX,GR,0,0,2823.0,NaN,0.415764,0.526716,0.378338,2823.0,OS2006_12
181,0,13.84,0.0,8.0,0,NaN,NaN,1,1,445.0,122.0,NaN,0.753200,0.504381,122.0,OS2006_12

## filter errors in data

In [8]:
metadata = metadata[metadata['Code'] != 'OS2006_12']
X = X[X['patient_id'] != 'OS2006_12']
y = y[y['patient_id'] != 'OS2006_12']

## Merge data

In [9]:
X_merged = pd.merge(X, metadata, how='left', right_on='Code', left_on='patient_id')

In [10]:
X_merged.head()

,patient_id,train_test,21:28000001-29000000_ratio,9:20000001-21000000_ratio,6:61000001-62000000_ratio,16:77000001-78000000_ratio,5:31000001-32000000_ratio,5:37000001-38000000_ratio,22:19000001-20000000_ratio,5:28000001-29000000_ratio,...,rep_histo,relapse,etat2,time_OS,time_PFS,cpa_finTT,cpa_diagnostic,cpa_chirurgie,EFS,Code
0,OS2006_273,test,0.062834,0.060903,-0.075174,-0.009873,0.005921,0.060570,-0.016839,-0.028853,...,GR,1,1,1966.0,1260.0,0.374727,0.422232,0.453674,1260.0,OS2006_273
1,OS2006_37,train,-0.000728,-0.112753,-0.142701,-0.126674,-0.062127,-0.063724,0.104418,-0.024809,...,PR,1,1,743.0,579.0,0.365089,0.949110,0.354965,579.0,OS2006_37
2,OS2006_320,train,0.356692,-0.045632,0.031774,-0.058918,-0.113911,0.360446,0.024225,0.165589,...,GR,1,0,2307.0,932.0,NaN,0.888077,NaN,932.0,OS2006_320
3,OS2006_504,train,-0.081113,0.019737,-0.025034,-0.010209,-0.006571,0.007375,-0.034562,0.025736,...,PR,1,1,423.0,195.0,0.446856,0.856265,0.596054,195.0,OS2006_504
4,OS2006_454,test,0.026692,0.013272,-0.049709,0.041606,-0.011879,-0.018377,0.014019,-0.047700,...,PR,1,0,1131.0,435.0,0.416113,0.463821,0.394069,435.0,OS2006_454

# Train model
## with metadata

In [11]:
def split_data(X, y, metadata_to_keep):

    X_train = X[X['train_test'] == 'train'].reset_index(drop=True)
    X_train = pd.merge(X_train, metadata[['Code'] + metadata_to_keep], how='left', left_on='patient_id', right_on='Code')
    not_nan_idx = X_train[~X_train.isnull().any(axis=1)].index.tolist()
    X_train = X_train.loc[not_nan_idx, :]
    
    y_train = y.loc[y['train_test'] == 'train', 'relapse'].reset_index(drop=True)
    y_train = y_train[not_nan_idx]
    X_train = X_train[[c for c in X_train.columns if c not in ['Code', 'patient_id', 'train_test', 'relapse']]]

    X_test = X[X['train_test'] == 'test'].reset_index(drop=True)
    X_test = pd.merge(X_test, metadata[['Code'] + metadata_to_keep], how='left', left_on='patient_id', right_on='Code')
    not_nan_idx = X_test[~X_test.isnull().any(axis=1)].index.tolist()
    X_test = X_test.loc[not_nan_idx, :]
    
    y_test = y.loc[y['train_test'] == 'test', 'relapse'].reset_index(drop=True)
    y_test = y_test[not_nan_idx]
    X_test = X_test[[c for c in X_test.columns if c not in ['Code', 'patient_id', 'train_test', 'relapse']]]
    
    return X_train, y_train, X_test, y_test

In [12]:
from sklearn.metrics import accuracy_score, precision_recall_fscore_support
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

def train(X_train, y_train, X_test, y_test):
    ss = StandardScaler().fit(X_train)
    X_train_scaled = ss.transform(X_train)
    X_test_scaled = ss.transform(X_test)
    
    
    lr = LogisticRegression(C=0.01, class_weight='balanced', random_state=5)

    lr.fit(X_train_scaled, y_train)
    y_train_pred = lr.predict(X_train_scaled)

    train_acc = accuracy_score(y_train_pred, y_train)
    train_scores = precision_recall_fscore_support(y_train_pred, y_train, labels=[0, 1])

    y_test_pred = lr.predict(X_test_scaled)
    test_acc = accuracy_score(y_test_pred, y_test)
    test_scores = precision_recall_fscore_support(y_test_pred, y_test, labels=[0, 1])
    
    print(f'train accuracy : {round(100 * train_acc, 1)}')
    print(f'test accuracy : {round(100 * test_acc, 1)}')
    return train_acc, test_acc

In [13]:
from itertools import combinations
metadata_columns = ['sex', 'age', 'pub', 'htum', 'meta_bis', 'cpa_diagnostic']

results = []

for r in range(0, len(metadata_columns) + 1):
    for cols in combinations(metadata_columns, r):
        print(f'******************** {cols}')
        X_train, y_train, X_test, y_test = split_data(X, y, list(cols))
        print(X_train.shape)
        print(X_test.shape)
        train_acc, test_acc = train(X_train, y_train, X_test, y_test)
        results.append((cols, train_acc, test_acc))

******************** ()
(119, 67)
(49, 67)
train accuracy : 84.9
test accuracy : 75.5
******************** ('sex',)
(119, 68)
(49, 68)
train accuracy : 84.9
test accuracy : 73.5
******************** ('age',)
(119, 68)
(49, 68)
train accuracy : 84.9
test accuracy : 75.5
******************** ('pub',)
(115, 68)
(46, 68)
train accuracy : 85.2
test accuracy : 73.9
******************** ('htum',)
(116, 68)
(47, 68)
train accuracy : 82.8
test accuracy : 72.3
******************** ('meta_bis',)
(119, 68)
(49, 68)
train accuracy : 84.9
test accuracy : 73.5
******************** ('cpa_diagnostic',)
(119, 68)
(49, 68)
train accuracy : 82.4
test accuracy : 71.4
******************** ('sex', 'age')
(119, 69)
(49, 69)
train accuracy : 84.9
test accuracy : 73.5
******************** ('sex', 'pub')
(115, 69)
(46, 69)
train accuracy : 85.2
test accuracy : 71.7
******************** ('sex', 'htum')
(116, 69)
(47, 69)
train accuracy : 86.2
test accuracy : 72.3
******************** ('sex', 'meta_bis')
(119, 69)
(49, 69)
train accuracy : 86.6
test accuracy : 73.5
******************** ('sex', 'cpa_diagnostic')
(119, 69)
(49, 69)
train accuracy : 85.7
test accuracy : 69.4
******************** ('age', 'pub')
(115, 69)
(46, 69)
train accuracy : 85.2
test accuracy : 71.7
******************** ('age', 'htum')
(116, 69)
(47, 69)
train accuracy : 82.8
test accuracy : 72.3
******************** ('age', 'meta_bis')
(119, 69)
(49, 69)
train accuracy : 84.9
test accuracy : 71.4
******************** ('age', 'cpa_diagnostic')
(119, 69)
(49, 69)
train accuracy : 83.2
test accuracy : 69.4
******************** ('pub', 'htum')
(115, 69)
(45, 69)
train accuracy : 84.3
test accuracy : 73.3
******************** ('pub', 'meta_bis')
(115, 69)
(46, 69)
train accuracy : 85.2
test accuracy : 71.7
******************** ('pub', 'cpa_diagnostic')
(115, 69)
(46, 69)
train accuracy : 82.6
test accuracy : 67.4
******************** ('htum', 'meta_bis')
(116, 69)
(47, 69)
train accuracy : 83.6
test accuracy : 72.3
******************** ('htum', 'cpa_diagnostic')
(116, 69)
(47, 69)
train accuracy : 81.9
test accuracy : 70.2
******************** ('meta_bis', 'cpa_diagnostic')
(119, 69)
(49, 69)
train accuracy : 84.0
test accuracy : 71.4
******************** ('sex', 'age', 'pub')
(115, 70)
(46, 70)
train accuracy : 85.2
test accuracy : 71.7
******************** ('sex', 'age', 'htum')
(116, 70)
(47, 70)
train accuracy : 86.2
test accuracy : 72.3
******************** ('sex', 'age', 'meta_bis')
(119, 70)
(49, 70)
train accuracy : 86.6
test accuracy : 73.5
******************** ('sex', 'age', 'cpa_diagnostic')
(119, 70)
(49, 70)
train accuracy : 85.7
test accuracy : 69.4
******************** ('sex', 'pub', 'htum')
(115, 70)
(45, 70)
train accuracy : 85.2
test accuracy : 66.7
******************** ('sex', 'pub', 'meta_bis')
(115, 70)
(46, 70)
train accuracy : 86.1
test accuracy : 71.7
******************** ('sex', 'pub', 'cpa_diagnostic')
(115, 70)
(46, 70)
train accuracy : 84.3
test accuracy : 67.4
******************** ('sex', 'htum', 'meta_bis')
(116, 70)
(47, 70)
train accuracy : 84.5
test accuracy : 74.5
******************** ('sex', 'htum', 'cpa_diagnostic')
(116, 70)
(47, 70)
train accuracy : 83.6
test accuracy : 70.2
******************** ('sex', 'meta_bis', 'cpa_diagnostic')
(119, 70)
(49, 70)
train accuracy : 84.0
test accuracy : 69.4
******************** ('age', 'pub', 'htum')
(115, 70)
(45, 70)
train accuracy : 84.3
test accuracy : 73.3
******************** ('age', 'pub', 'meta_bis')
(115, 70)
(46, 70)
train accuracy : 85.2
test accuracy : 71.7
******************** ('age', 'pub', 'cpa_diagnostic')
(115, 70)
(46, 70)
train accuracy : 82.6
test accuracy : 67.4
******************** ('age', 'htum', 'meta_bis')
(116, 70)
(47, 70)
train accuracy : 83.6
test accuracy : 72.3
******************** ('age', 'htum', 'cpa_diagnostic')
(116, 70)
(47, 70)
train accuracy : 81.9
test accuracy : 68.1
******************** ('age', 'meta_bis', 'cpa_diagnostic')
(119, 70)
(49, 70)
train accuracy : 84.0
test accuracy : 71.4
******************** ('pub', 'htum', 'meta_bis')
(115, 70)
(45, 70)
train accuracy : 83.5
test accuracy : 71.1
******************** ('pub', 'htum', 'cpa_diagnostic')
(115, 70)
(45, 70)
train accuracy : 81.7
test accuracy : 71.1
******************** ('pub', 'meta_bis', 'cpa_diagnostic')
(115, 70)
(46, 70)
train accuracy : 83.5
test accuracy : 69.6
******************** ('htum', 'meta_bis', 'cpa_diagnostic')
(116, 70)
(47, 70)
train accuracy : 83.6
test accuracy : 72.3
******************** ('sex', 'age', 'pub', 'htum')
(115, 71)
(45, 71)
train accuracy : 85.2
test accuracy : 68.9
******************** ('sex', 'age', 'pub', 'meta_bis')
(115, 71)
(46, 71)
train accuracy : 86.1
test accuracy : 71.7
******************** ('sex', 'age', 'pub', 'cpa_diagnostic')
(115, 71)
(46, 71)
train accuracy : 85.2
test accuracy : 67.4
******************** ('sex', 'age', 'htum', 'meta_bis')
(116, 71)
(47, 71)
train accuracy : 84.5
test accuracy : 74.5
******************** ('sex', 'age', 'htum', 'cpa_diagnostic')
(116, 71)
(47, 71)
train accuracy : 83.6
test accuracy : 70.2
******************** ('sex', 'age', 'meta_bis', 'cpa_diagnostic')
(119, 71)
(49, 71)
train accuracy : 84.9
test accuracy : 69.4
******************** ('sex', 'pub', 'htum', 'meta_bis')
(115, 71)
(45, 71)
train accuracy : 86.1
test accuracy : 73.3
******************** ('sex', 'pub', 'htum', 'cpa_diagnostic')
(115, 71)
(45, 71)
train accuracy : 85.2
test accuracy : 68.9
******************** ('sex', 'pub', 'meta_bis', 'cpa_diagnostic')
(115, 71)
(46, 71)
train accuracy : 86.1
test accuracy : 67.4
******************** ('sex', 'htum', 'meta_bis', 'cpa_diagnostic')
(116, 71)
(47, 71)
train accuracy : 83.6
test accuracy : 70.2
******************** ('age', 'pub', 'htum', 'meta_bis')
(115, 71)
(45, 71)
train accuracy : 83.5
test accuracy : 71.1
******************** ('age', 'pub', 'htum', 'cpa_diagnostic')
(115, 71)
(45, 71)
train accuracy : 81.7
test accuracy : 71.1
******************** ('age', 'pub', 'meta_bis', 'cpa_diagnostic')
(115, 71)
(46, 71)
train accuracy : 83.5
test accuracy : 69.6
******************** ('age', 'htum', 'meta_bis', 'cpa_diagnostic')
(116, 71)
(47, 71)
train accuracy : 83.6
test accuracy : 72.3
******************** ('pub', 'htum', 'meta_bis', 'cpa_diagnostic')
(115, 71)
(45, 71)
train accuracy : 82.6
test accuracy : 71.1
******************** ('sex', 'age', 'pub', 'htum', 'meta_bis')
(115, 72)
(45, 72)
train accuracy : 86.1
test accuracy : 73.3
******************** ('sex', 'age', 'pub', 'htum', 'cpa_diagnostic')
(115, 72)
(45, 72)
train accuracy : 85.2
test accuracy : 68.9
******************** ('sex', 'age', 'pub', 'meta_bis', 'cpa_diagnostic')
(115, 72)
(46, 72)
train accuracy : 86.1
test accuracy : 67.4
******************** ('sex', 'age', 'htum', 'meta_bis', 'cpa_diagnostic')
(116, 72)
(47, 72)
train accuracy : 83.6
test accuracy : 70.2
******************** ('sex', 'pub', 'htum', 'meta_bis', 'cpa_diagnostic')
(115, 72)
(45, 72)
train accuracy : 84.3
test accuracy : 71.1
******************** ('age', 'pub', 'htum', 'meta_bis', 'cpa_diagnostic')
(115, 72)
(45, 72)
train accuracy : 82.6
test accuracy : 71.1
******************** ('sex', 'age', 'pub', 'htum', 'meta_bis', 'cpa_diagnostic')
(115, 73)
(45, 73)
train accuracy : 84.3
test accuracy : 71.1

In [14]:
pd.DataFrame(results, columns=['cols', 'train_acc', 'test_acc']).sort_values('test_acc', ascending=False)

                                    cols  train_acc  test_acc
0                                     ()   0.848739  0.755102
2                                 (age,)   0.848739  0.755102
45            (sex, age, htum, meta_bis)   0.844828  0.744681
29                 (sex, htum, meta_bis)   0.844828  0.744681
3                                 (pub,)   0.852174  0.739130
..                                   ...        ...       ...
34            (age, pub, cpa_diagnostic)   0.826087  0.673913
44       (sex, age, pub, cpa_diagnostic)   0.852174  0.673913
50  (sex, pub, meta_bis, cpa_diagnostic)   0.860870  0.673913
28            (sex, pub, cpa_diagnostic)   0.843478  0.673913
26                      (sex, pub, htum)   0.852174  0.666667

[64 rows x 3 columns]